/*Image Preview*/
#preview {
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	/*Make Transparent Images Opaque*/
	background-color: rgb(194, 150, 225);
}

/*Thumbnails*/
.thumbnails {
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
}

/*Thumbnail*/
.thumbnail {
	display: inline;
	opacity: 0.4;
	max-width: 19.5%;
}

/*Thumbnail Image*/
.thumbnail img {
	width: 100%;
	aspect-ratio: 1;
	border-radius: 10px;
	border: 0.1rem solid rgb(194, 150, 225);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

/*Thumbnail Description*/
.thumbnail .description {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 5px;
	position: absolute;
	bottom: -1rem;
	left: 0;
	right: 0;
	background: rgb(194, 150, 225);
	color: #fff;
	opacity: 0;
	/*display: flex;
	align-items: center;
	justify-content: center;
	*/
	/*Transition effect*/
	transition: all .2s;
}

/*Description Text Wrapping*/
.description {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: break-spaces;
	text-align: center;
}

/*Description Hover*/
.thumbnail:hover .description {
	transition: .2s;
	transform: translateY(-1.25rem);
	opacity: 1;
}

/*Thumbnail Image Hover*/
.thumbnail:hover {
	opacity: 0.7;
	transition: ease 0.3s;
}

/*Thumbnail Active Image*/
.thumbnail.active {
	opacity: 1;
}

/* Disabled Image Style */
.thumbnail.disabled {
	filter: grayscale(100%);
	pointer-events: auto;
}

/* Disable Clicking Disabled Link */
.thumbnail.disabled a {
	pointer-events: none;
}

/* Prevent Hover Highlight Effect */
.thumbnail.disabled:hover {
	opacity: 0.4;
}

/* Show Description on Hover */
.thumbnail.disabled:hover .description {
	transform: translateY(-1.25rem);
	opacity: 1;
}

/*Image Center Vertically*/
@supports(object-fit: cover) {
	.thumbnail img {
		object-fit: cover;
		object-position: center center;
	}

	/*Shrink to Fit*/
	#preview {
		object-fit: contain;
	}
}