/*Button Style*/
button {
	background-color: rgb(49, 34, 62);
	border: 2px solid rgba(194, 150, 225, 0.5);
	border-radius: 10px;
	font: inherit;
	padding: 10px;
	cursor: pointer;
	-webkit-box-shadow: 0px 0px 2px 2px rgba(194, 150, 225, 0.2);
	-moz-box-shadow: 0px 0px 2px 2px rgba(194, 150, 225, 0.2);
	box-shadow: 0px 0px 2px 2px rgba(194, 150, 225, 0.2);
}

/*Remove Underline from Buttons w/ Links*/
a:has(> button) {
	text-decoration: none;
}

/*Button Hover*/
button:hover {
	background: rgba(194, 150, 225, 0.7);
}

/*Box Entry*/
.boxEntry {
	display: block;
	position: relative;
	padding-left: 2rem;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/*Enabled Pointer*/
.boxEntry:active:enabled {
	cursor: pointer;
}

/*Checkbox Container*/
/*Hide Default Checkbox*/
input[type="checkbox"],
input[type="radio"] {
	opacity: 0;
	height: 0;
	width: 0;
}

/*Create Custom Checkbox/RadioBox*/
.checkmark,
.radiomark {
	position: absolute;
	top: .09rem;
	left: 0;
	width: 1rem;
	border: 0.05rem solid rgb(194, 150, 225);
	aspect-ratio: 1;
	background-color: rgb(49, 34, 62);
}

/*Make Radio Round*/
.radiomark {
	border-radius: 50%;
}

/*Checkbox Hover*/
input~.checkmark:hover:active:enabled,
input~.radiomark:hover:active:enabled {
	background-color: rgba(194, 150, 225, 0.7);

}

/*Checked Checkbox*/
input:checked~.checkmark,
input:checked~.radiomark {
	background-color: rgb(194, 150, 225);
}

/*Checkmark Indicator Hidden When Not Checked*/
.checkmark:after,
.radiomark:after {
	content: "";
	position: absolute;
	display: none;
}

/*Show Indicator on Checked*/
input:checked~.checkmark:after,
input:checked~.radiomark:after {
	display: block;
}

/*Style the Checkmark*/
.checkmark:after {
	left: 0.25rem;
	top: -0.1rem;
	width: 0.3rem;
	height: 0.8rem;
	border: solid white;
	border-width: 0 0.2rem 0.2rem 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

/*Hide Default Range*/
input[type="range"] {
	-webkit-appearance: none;
	appearance: none;
	background: transparent;
	width: 100%;
}

/*Enabled Pointer*/
input[type="range"]:active:enabled {
	cursor: pointer;
}

/*Removes Range Focus*/
input[type="range"]:focus {
	outline: none;
}

/*Chrome, Safari, Opera and Edge Chromium styles*/
/*Slider Track*/
input[type="range"]::-webkit-slider-runnable-track {
	background-color: rgb(49, 34, 62);
	border: 0.05rem solid rgb(194, 150, 225);
	border-radius: 10px;
	height: 0.4rem;
}

/*Slider Thumb*/
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	margin-top: -0.4rem;
	background-color: rgb(194, 150, 225);
	height: 1.1rem;
	width: 0.4rem;
}

@media (max-width:1000px) {

	/*Mobile View for Smaller Browser Widths*/
	button {
		width: 100%;
	}
}