/*Defaults*/
* {
	margin: auto;
	font-family: Century Gothic;
	color: white;
}

/*HTML*/
html {
	background-image: url("../images/background/background.jpg");
}

/*Lock*/
.lock {
	pointer-events: none;
}

/*Page Header*/
.header1 {
	text-align: center;
	margin-top: 0;
	padding: 10px;
	background-color: rgba(194, 150, 225, 0.2);
	border-bottom: 4px solid rgb(49, 34, 62);
	font-weight: normal;
}

/*Info Section Header*/
.header2 {
	font-weight: normal;
	padding-bottom: 10px;
}

/*Rounded Header Border*/
h2.header1 {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom: 4px solid rgb(49, 34, 62);
}

/*Flex Container*/
.container {
	display: flex;
	flex-wrap: wrap;
	padding: 5px;
	gap: 10px;
}

/*Creates Rounded Border*/
.info {
	border: 2px solid rgb(194, 150, 225);
	border-radius: 10px;
	padding: 10px;
	max-width: 60vh;
	overflow: auto;
	margin-top: 0;
}

/*Mobile View for Smaller Browser Widths*/
@media (max-width:1000px) {
	.info {
		width: 100%;
	}
}

/*Light Background*/
.light {
	background-color: rgba(194, 150, 225, 0.5);
}

/*Dark Background*/
.dark {
	background-color: rgb(49, 34, 62, 0.5);
}

/*Light Background*/
.solidLight {
	background-color: rgb(194, 150, 225);
}

/*Dark Background*/
.solidDark {
	background-color: rgb(49, 34, 62);
}

/*Scrollbar*/
::-webkit-scrollbar {
	width: 12px;
	height: 12px;
	background: rgb(49, 34, 62);
}

/*Scrollbar Handle*/
::-webkit-scrollbar-thumb {
	background-color: rgb(194, 150, 225);
	border-radius: 10px;
}

/*Scrollbar Corner*/
::-webkit-scrollbar-corner {
	background-color: rgb(49, 34, 62);
}