/*Tabs*/
.tabNames {
	display: flex;
	padding: 0;
	margin-top:-0.2rem;
	border:none;
}

/*Inactive Tab Label*/
.tabName {
	display: inline-block;
	width: 100%;
	padding: 0.3rem;
	cursor: pointer;
}

/*Tab Label Hover*/
.tabName:hover {
	border-bottom: 4px solid rgba(194, 150, 225, 0.7);
}

/*Active Tab Label*/
.tabName.active {
	border-bottom: 4px solid rgb(194, 150, 225);
}

/*Inactive TabContent*/
.tab {
	display: none;
}

/*Active Tab Content*/
.tab.active {
	display: block;
}

/*Limit Width*/
.info:has(> .tabContent) {
	width: 100%;
}